@media only screen and (max-width: #{map_get($mediaScreen,"xlarge")}px) {
  header.website nav {
    height: 64px !important;
    line-height: 64px !important;
  }
  header.website nav .brand-logo {
    left: 0;
    transform: translateX(-0);
  }
}

@media only screen and (max-width: #{map_get($mediaScreen,"large")}px) {
  header.website nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: #{map_get($mediaScreen,"medium")}px) {

}

@media only screen and (max-width: #{map_get($mediaScreen,"small")}px) {

}

@media only screen and (max-width: #{map_get($mediaScreen,"xsmall")}px) {

}