body,
html {
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: $fontNormal;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea,
button {
  font-family: $fontFamily;
  font-weight: $fontNormal;
  font-size: $fontSize;
}

body {
  background-color: $whiteColor;
}

p {
  line-height: $lineHeight;
  font-weight: inherit;
  font-size: inherit;
}

audio,
video,
iframe,
object {
  outline: none;
  border: 0;
}

.container_c {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @include box-sizing();
}

.section_c {
  padding-top: 1.84rem;
  padding-bottom: 1.84rem;
}

a:link,
a:visited {
  color: $blueColor;
  cursor: pointer;
}

a:hover {
  color: $redColor;
  cursor: pointer;
}

a.hover-text.text-darken-5:hover {
  color: $redColor !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.data-#{$siteName}.data-content:before {
  content: "" attr(data-content);
}

.data-#{$siteName}.data-content .responsive_text {
  font-size: 0;
}
