@media print {
  .no-print {
    display: none !important;
  }
  main.luckydrawPrint {
    padding-left: 0 !important;
  }
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  @page {
    size: A4;
    size: portrait;
    margin: 0;
  }
}
