@mixin border-radius($radius: 0, $important: none) {
  @if ($important==none) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  } @else {
    -webkit-border-radius: $radius $important;
    -moz-border-radius: $radius $important;
    border-radius: $radius $important;
  }
}

@mixin user-select($type: none) {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: $type; /* Firefox all */
  -ms-user-select: $type; /* IE 10+ */
  user-select: $type;
}

@mixin box-shadow($shadow, $important: none) {
  @if ($important==none) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
  } @else {
    -webkit-box-shadow: $shadow $important;
    -moz-box-shadow: $shadow $important;
    box-shadow: $shadow $important;
  }
}

@mixin text-shadow($textShadow, $important: none) {
  @if ($important==none) {
    text-shadow: $textShadow;
  } @else {
    text-shadow: $textShadow $important;
  }
}

@mixin transition($delay: 0.2s) {
  -webkit-transition: all $delay;
  -moz-transition: all $delay;
  transition: all $delay;
}

@mixin scale($scale: 1) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  transform: scale($scale);
}

@mixin translateX($left) {
  -webkit-transform: translateX($left);
  -moz-transform: translateX($left);
  transform: translateX($left);
}

@mixin translateY($right) {
  -webkit-transform: translateY($right);
  -moz-transform: translateY($right);
  transform: translateY($right);
}

@mixin box-sizing($type: border-box, $important: none) {
  @if ($important==none) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
  } @else {
    -webkit-box-sizing: $type $important;
    -moz-box-sizing: $type $important;
    box-sizing: $type $important;
  }
}

@mixin coverer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%List {
  list-style-image: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
  }
}

%clear-break {
  clear: both;
  font-size: 0;
}

%Button {
  font-size: 1rem;
  text-align: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  color: $whiteColor;
  background-color: $redColor;
  @include box-sizing();
  @include transition(0.1s);
  @include border-radius(6px);

  &:link,
  &:visited {
    display: inline-block;
  }

  &:hover {
    background-color: $redColor;
    display: inline-block;
  }
}
