@import "./define_color/ovs_color";

// FONT USE
$fontSize: 16px; // FONT SIZE DEFAULT
$fontSizeAdmin: 16px; // FONT SIZE DEFAULT ADMIN
$fontFamily: "Averta Std CY", sans-serif;
$fontFamilyAdmin: "Averta Std CY", sans-serif;
$fontLight: 300;
$fontNormal: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;
$lineHeight: 24px;
$maxWidth: 1920px;
$siteName: website;

// MEDIA SCREEN REQUIRED LIST
$mediaScreen: (
  xlarge: 1200,
  large: 992,
  medium: 600,
  small: 480,
  xsmall: 400,
  xxsmall: 320,
);

// TEXT TRANSFORM LIST
$textTransform: (
  upper-case: uppercase,
  upper: uppercase,
  lower-case: lowercase,
  lower: lowercase,
  no-case: none,
  title-case: capitalize,
  capitalize: capitalize,
);
/*
  Map => Key: (class,value)
 */
$otherList: (
  visibility: (
    invisible: hidden !important,
    visible: visible !important,
  ),
  display: (
    hide-default: none,
    hide_default: none,
    hide: none,
    display_none: none,
    display-none: none,
    display_inline: inline,
    display_inline_block: inline-block,
    display_block: block,
    display_flex: flex,
    display_inline_flex: inline-flex,
  ),
  white-space: (
    no-wrap: nowrap,
    wrap: normal,
  ),
  cursor: (
    no-cursor: default !important,
    cursor: pointer !important,
  ),
  position: (
    relative: relative,
    absolute: absolute,
    sticky: sticky,
  ),
  text-align: (
    justify-align: justify !important,
  ),
  justify-content: (
    justify-start: start !important,
    justify-flex-start: flex-start !important,
    justify-center: center !important,
    justify-end: end !important,
    justify-flex-end: flex-end !important,
    justify-space-between: space-between !important,
    justify-space-around: space-around !important,
    justify-space-evenly: space-evenly !important,
    justify-stretch: stretch !important,
  ),
  align-items: (
    align-start: start !important,
    align-flex-start: flex-start !important,
    align-center: center !important,
    align-end: end !important,
    align-flex-end: flex-end !important,
    align-stretch: stretch !important,
  ),
  float: (
    fl: left !important,
    fr: right !important,
  ),
  font-style: (
    italic: italic !important,
    normal: normal !important,
  ),
  border: (
    border: 1px solid !important,
    no-border: 0 !important,
  ),
  outline: (
    outline: 1px solid !important,
    no-outline: 0 !important,
  ),
  font-weight: (
    bold_light: $fontLight,
    bold_medium: $fontMedium,
    bold_normal: $fontNormal,
    bold: $fontBold,
    bold_black: $fontBlack !important,
  ),
  overflow: (
    overflow: hidden !important,
  ),
  content-visibility: (
    content_visibility: auto,
  ),
  font-size: (
    small-text: 0.9rem,
    xsmall-text: 0.8rem,
    xxsmall-text: 0.7rem,
    large-text: 1.24rem,
    font-size-0: 0 !important,
    font-size-1-1-4: 1rem !important,
  ),
);

//USE ANIMATION
$use-all: true;
