// DEFINE COLOR
$redColor: #f10000;
$blueColor: #1d3072;
$newBlueColor: #1a31b7;
$newRedColor: #f6042e;

$whiteColor: #ffffff;
$blackColor: #000000;
$yellowColor: #ffa800;
$lightYellowColor: #f9dd5c;
$orangeColor: #fe7101;
$lightBlueColor: #00dbff;
$purpleColor: #5250f4;
$secondaryBlueColor: #008cff;

$grayColor: #7a7a7a;
$darkGreyColor: #eee;
