@import "../plugins/bricolage";
@import "../plugins/montserrat";
.monsterrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
