@import "../modules/lib";

@each $kmedia, $vmedia in $mediaScreen {
  @media only screen and (max-width: #{$vmedia}px) {
    @for $i from 0 to 101 {
      .bottom-#{str_replace(($i*0.1),".","-")}_#{$vmedia} {
        bottom: #{$i * 0.1}rem !important;
      }
      .top-#{str_replace(($i*0.1),".","-")}_#{$vmedia} {
        top: #{$i * 0.1}rem !important;
      }
      .left-#{str_replace(($i*0.1),".","-")}_#{$vmedia} {
        left: #{$i * 0.1}rem !important;
      }
      .right-#{str_replace(($i*0.1),".","-")}_#{$vmedia} {
        right: #{$i * 0.1}rem !important;
      }
    }
    @for $i from 0 to 102 {
      .bottom-rate-#{str_replace(($i*1),".","-")}_#{$vmedia} {
        bottom: percentage(calc($i * 1 / 100)) !important;
      }
      .top-rate-#{str_replace(($i*1),".","-")}_#{$vmedia} {
        top: percentage(calc($i * 1 / 100)) !important;
      }
      .left-rate-#{str_replace(($i*1),".","-")}_#{$vmedia} {
        left: percentage(calc($i * 1 / 100)) !important;
      }
      .right-rate-#{str_replace(($i*1),".","-")}_#{$vmedia} {
        right: percentage(calc($i * 1 / 100)) !important;
      }
    }
    @for $i from 0 to 102 {
      .s_bg-s-r-#{str_replace(($i*1),".","-")}_#{$vmedia} {
        background-size: percentage(calc($i * 1 / 100)) !important;
      }
    }
    @for $i from 0 to 101 {
      .s_bg-s-#{$i*5}_#{$vmedia} {
        background-size: #{$i * 5}px auto !important;
      }
    }
    @for $i from 0 to 101 {
      .s_bg-s-h-#{$i*5}_#{$vmedia} {
        background-size: auto #{$i * 5}px !important;
      }
    }
  }
}
